{% extends "agenda_pacientes/base.html" %}

{% block content %}

    <h3>Horários de {{ paciente }}</h3>

    <p>Agenda:</p>

    <p>
        <a href="{% url 'nova_consulta' paciente.id %}">Adicionar nova consulta</a>
    </p>

    <ul>
        {% for horario in horarios %}

        <li>
            <p>{{ horario.data | date:"d/m/Y" }}</p>
            <p>{{ horario.hora | time:"H:i" }}</p>
            <p>
                <a href="{% url 'editar_consulta' horario.id %}">Editar consulta</a>
            </p>
        </li>

        {% empty %}

        <li>
            Não há registro
        </li>

        {% endfor %}

    </ul>

{% endblock content %}