{% extends "agenda_pacientes/base.html" %}

{% block header %}
    <h2>Horários de {{ paciente }}</h2>
{% endblock header %}

{% block content %}

    <p>
        <a href="{% url 'nova_consulta' paciente.id %}">Adicionar nova consulta</a>
    </p>


        {% for horario in horarios %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        {{ horario.data | date:"d/m/Y" }}
                        {{ horario.hora | time:"H:i" }}
                        
                        <small>
                            <a href="{% url 'editar_consulta' horario.id %}">Editar consulta</a>
                        </small>
                        
                    </h3>
                </div>

            </div>           


        {% empty %}
            Não há registro.
        {% endfor %}



{% endblock content %}