{% extends "agenda_pacientes/base.html" %}

{% block header %}
    <div class="jumbotron">
        <h1>Bem vindo a agenda de pacientes da Clínica Avalia</h1>
    </div>
{% endblock header %}

{% block content %}

    {% if user.is_authenticated %}

    <div class="container mt-4">
        <h1>Consultas de Todos os Pacientes</h1>
        
        <div class="row">
            {% for consulta in consultas %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">{{ consulta.paciente.nome }}</h3>
                            <p class="card-text">
                                <strong>Data:</strong> {{ consulta.data }}<br>
                                <strong>Hora:</strong> {{ consulta.hora }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% else %}

        <h2>
            <a href="{% url 'register' %}">Crie uma conta</a> para utilizar o sistema de agendamento ou faça login para começar a utilizar.
        </h2>

    {% endif %}
    
{% endblock content %}
